<fieldset>
    <div class="asset-image"><img src='{{assets.tables.0.fields.banner.value}}'/></div>
    <h2 class="asset-name">{{assets.tables.0.fields.name.value}}</h2>
    <!--label><strong>{{assets.tables.0.fields.version.value}}</strong></label-->
    <p>{{assets.tables.0.fields.description.value}}</p>
</fieldset>
<div id="rec-div" class="container">


</div>

