<fieldset class="form-horizontal well well-small span10">
    <img src='{{assets.tables.0.fields.banner.value}}'/>

    <div class="span12"></div>
    <label><strong>{{assets.tables.0.fields.name.value}}</strong></label>
    <label><strong>{{assets.tables.0.fields.version.value}}</strong></label>
    <label>{{assets.tables.0.fields.description.value}}</label>
</fieldset>

<div id="rec-div" class="container">


</div>