

<div id="rec-div" class="container">
    <h2>Step4 - Set Method</h2> <br/>
<p>
    Currently using default settings
</p>



    <!-- Bottom Nav-bar -->
    <ul class="pager span8 well well-small">
        <li class="previous">
            <a href="/recipe-app/asts/dish/set_results/{{assets.id}}">&larr; Previous</a>
        </li>
        <li class="next">
            <a href="/recipe-app/asts/dish/deploy/{{assets.id}}">Next &rarr;</a>
        </li>
    </ul>

    <script>
        var leftPaneItem = document.querySelectorAll("ul.nav-list li")[3];
        leftPaneItem.style.backgroundColor="gainsboro";
    </script>

</div>




