
<div id="rec-div" class="container">
    <h2>Step3 - Prepare Results</h2> <br/>

    {{loopingRecipeItems assets.tables.2.fields}}



    <!-- Bottom Nav-bar -->
    <ul class="pager span8 well well-small">
        <li class="previous">
            <a href="/recipe-app/asts/dish/set_ingredients/{{assets.id}}">&larr; Previous</a>
        </li>
        <li class="next">
            <a href="/recipe-app/asts/dish/set_process/{{assets.id}}">Next &rarr;</a>
        </li>
    </ul>

</div>




