

<div id="rec-div" class="container">
    <h2>Step2 - Prepare Ingredients</h2> <br/>

{{loopingRecipeItems assets.tables.1.fields}}

    <script src="../../../themes/default/js/handlebars.form-helpers.js"></script>



    <!-- Bottom Nav-bar -->
    <ul class="pager span8 well well-small">
        <li class="previous">
            <a href="/recipe-app/asts/dish/details/{{assets.id}}">&larr; Previous</a>
        </li>
        <li class="next">
            <a href="/recipe-app/asts/dish/set_results/{{assets.id}}">Next &rarr;</a>
        </li>
    </ul>

</div>







