<div>
	<div class="wr-footer-left">
		<span> &copy; 2014 WSO2 Inc. All Rights Reserved.</span>
	</div>
	<div class="wr-footer-right txt-right">
		<a target="_blank" href="http://www.wso2.com" id="logo-wso2"></a>
	</div>
</div>