.wr-main {
    width:990px;
    margin:auto;
    margin-top:20px;
}

.wr-main-extra {
    border-radius:7px;
    background:#fff;
}

.wr-single {
    padding:25px;
}

.wr-left {
    float:left;
    width:270px;
    border:0px solid #ff0000;
}

.wr-right {
    float:right;
    width:660px;
    border:0px solid #ff0000;
}


.wr-left-nav {
    border:1px solid #dedede;
    border-radius:6px;
    background:#fff;
    width:230px;
    padding:5px 17px 20px 17px;
    text-align: left;
}

.wr-ribbon {
    display:none;
}

.hr-sep {
    height:2px;
    border-top:1px solid #e6e6e6;
    margin-top:35px;
}


.conns{
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    outline: medium none;
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #DADADA;
    color: #828282;
    text-transform: capitalize;
}

.conns:hover, .conn:focus {
    color: #828282;
    text-shadow: none;
    background: none repeat scroll 0 0 #e7e7e7;
    text-decoration: none;
    /* border-right: 1px solid #74B749; */
}

.conns > a {
    text-decoration: none;
    color: #828282;
}

.c-both {
    clear:both;
}

.ctrl-connector {
    width:100px;
    height:98px;
    border-radius: 8px;
    border:1px solid #e4e4e4;
}

.ctrl-connector img {
    border-radius: 6px;
}

h2.asset-overview {
    font-size:20px;
    font-weight:700;
    margin-top:0;
    margin-bottom:15px;
    letter-spacing: -1px;
}

h4 {
    font-size:18px;
    font-weight:700;
}